.new-tweet {
  display: flex;
  flex-direction: column;
}

/* section form {
  margin: 0 auto;
} */

/* .tweet-text-header {
  border-bottom: 4px solid #545149;
} */

textarea {
  background-color: #f4f1ec;
  border: 0px;
  border-bottom: 4px solid #545149;
  width: 100%;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

.tweet-text-footer {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', sans-serif;
  color: #545149;
}