.tweet-container {
  border: 4px solid #545149;
  margin: 50px auto;
  width: 100%;
}

.tweet {
  padding: 0 15px;
}

.tweet footer {
  border-top: 4px solid #545149;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-icons {
  color: #4056A1;
}

.tweet-icons i {
  padding: 5px;
}

/* hover effects */

.tweet-container:hover {
  box-shadow:10px 10px 3px #545149;
}

.tweet-icons i:hover {
  color: goldenrod;
}