#tweet-container {
  margin: 50px auto;
  width: 100%;
}

.tweet {
  padding: 0 15px;
  border: 4px solid #545149;
  margin-top: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2em; */
}

.user {
  display: flex;
  justify-content: space-between;
  /* height: 3em; */
}

.tweet footer {
  border-top: 4px solid #545149;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-icons {
  color: #4056A1;
}

.tweet-icons i {
  padding: 5px;
}

/* hover effects */

.tweet:hover {
  box-shadow:10px 10px 3px #545149;
}

.tweet-icons i:hover {
  color: goldenrod;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

  .container {
    max-width: 1300px;
    /* font-size: 16px; */
    margin: 0 auto;
  }
  .nav {
    position: fixed;
  }

  .header-spacer {
    height: 15rem;
  }

  /* .spacer {
    height: 2rem;
  } */
  .page-header {
    width: 30%;
    float: left;
    height: 350px;
    margin-left: 20px;
  }
  .page-header img {
    width: 200px;
  }
  .new-tweet {
    width: 70%;
    padding-left: 80px;
    float: right; 
  }
  
  #tweet-container {
    width: 70%;
    padding-left: 40px;
    float: right; 
  }
}